<h1>Citas</h1>
<button class="btn btn-outline-primary"
[routerLink]="['/dashboard/cita', 'nuevo']">Nueva Cita</button>
<hr>
<div class="card-columns">
  <div class="card"
  *ngFor="let cita of citas">
    <div class="card-block">
      <h4 class="card-title">{{ cita.fecha | uppercase }}</h4>
      <p class="card-text">{{ cita.lugar }}</p>
      <p class="card-text">{{ cita.asunto }}</p>
      <p class="card-text">{{ cita.nombre }}</p>
      <footer>
        <button
          (click)="borrarCita(cita.idCita)"
          class="btn btn-block btn-outline-danger">
          <strong>Eliminar</strong>
        </button>
        <button
          [routerLink]="['/dashboard/cita', cita.idCita]"
          class="btn btn-block btn-outline-success">
          <strong>Editar</strong>
        </button>
      </footer>
    </div>
  </div>
</div>